<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bible.niv_portable"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.bible.nivportable.MainMenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bible.nivportable.DisplayBibleCollectionActivity"
            android:parentActivityName=".MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenuActivity" />
        </activity>
        <activity
            android:name="com.bible.nivportable.DisplayChapterCollectionActivity"
            android:parentActivityName=".MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenuActivity" />
        </activity>
        <activity
            android:name="com.bible.nivportable.DisplayVerseCollectionActivity"
            android:parentActivityName=".MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenuActivity" />
        </activity>
        <activity
            android:name="com.bible.nivportable.DisplayBibleVersesActivity"
            android:parentActivityName=".MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenuActivity" />
        </activity>
        <activity
            android:name="com.bible.nivportable.SearchVerseActivity"
            android:label="@string/title_search"
            android:parentActivityName=".MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenuActivity" />
        </activity>
        <activity
            android:name="com.bible.nivportable.CreateSOAPJournalActivity"
            android:label="@string/title_create_soap_journal"
            android:parentActivityName=".MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenuActivity" />
        </activity>
        <activity
            android:name="com.bible.nivportable.DisplaySOAPJournalListActivity"
            android:label="@string/title_soap_journal"
            android:parentActivityName=".MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenuActivity" />
        </activity>
        <activity
            android:name="com.bible.nivportable.DisplaySOAPJournalActivity"
            android:label="@string/title_soap_journal_entry"
            android:parentActivityName=".MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenuActivity" />
        </activity>
    </application>

</manifest>